@import url("variables.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--global-color);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: var(--global-bg);

  font-synthesis: none;
}
