html.dark-theme {
  --global-bg: #242424;
  --global-color: rgb(255 255 255 / 87%);
  --header-bg: #e5e5e5;
  --header-box-shadow-color: rgb(0 0 0 / 10%);
  --custom-button-bg: darkred;
  --custom-button-bg-disabled: gray;
  --custom-input-border-color: #aaa;
  --anime-card-bg: rgb(50 50 50 / 50%);
  --anime-card-box-shadow-color: rgb(0 0 0 / 37%);
}

html.light-theme {
  --global-bg: #fff;
  --global-color: #111;
  --header-bg: #1e1e1e;
  --header-box-shadow-color: rgb(255 255 255 / 5%);
  --custom-button-bg: #bd3232;
  --custom-button-bg-disabled: #333;
  --custom-input-border-color: #777;
  --anime-card-bg: rgb(240 240 240 / 60%);
  --anime-card-box-shadow-color: rgb(0 0 0 / 15%);
}
