html {
  --global-bg: #242424;
  --global-color: rgb(255 255 255 / 87%);
  --header-bg: #e5e5e5;
  --header-box-shadow-color: rgb(0 0 0 / 10%);
  --custom-button-bg: darkred;
  --custom-input-border-color: #aaa;
  --anime-card-bg: rgb(50 50 50 / 50%);
  --anime-card-box-shadow-color: rgb(0 0 0 / 37%);
}